@{
    ViewBag.Title = "Home Page2";
}




<input data-bind="value: item.L1" />
<input data-bind="value: item.L2" />

<button data-bind="click: createProfile">aaa</button>

<script src="~/JS/Dcb/Index.js"></script>