

@{
    ViewBag.Title = "title";
}
<script src="/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script>
    $.ajax({
        url: "/Api/GetAll",
        type: "GET",
        cache: false,
        async: false,
        success: function (data) { 
//            alert(JSON.stringify(data));
            alert(data);
        },
        error: function (err) {
            document.write(err.responseText);
        },
        complete: function() {
            var a = 1;
        }
        });
</script>

<h2>api</h2>
